<div class='contDiv'>
  <div class='logo'>
  </div>
  <mat-card>
    <span>
        This is the official website page for our posse TWG. The ranking system and rules 
        in place are not to be abused at any time. We are passionate in gaming and especially
         a bond we can create together. We are not a posse created purely for fun - we do not
          allow open joining therefore we invite and people request. We will become a top posse
           within RDO purely because we are experienced and dedicated. Anyone who has a problem with
            authority or hierarchy will be removed from the posse. There is plenty of other groups who
             are playing RDO for fun and to have a laugh - so if this is what you would like this is 
             not the posse for you. We will discuss everything we do and adjust accordingly to 
             situations. Hierarchy is not based on rank, progression or completion. Hierarchy is based
              on values, honesty and loyalty
    </span>
    <h3>Join the Posse</h3>
    <div class="example-button-row">
        <button mat-flat-button color="primary">Application</button>
      </div>
  </mat-card>
  <mat-card>
      <h3>Interesting info about the gang</h3>
      <span>
          This is the official website page for our posse TWG. The ranking system and rules 
          in place are not to be abused at any time. We are passionate in gaming and especially
           a bond we can create together. We are not a posse created purely for fun - we do not
            allow open joining therefore we invite and people request. We will become a top posse
             within RDO purely because we are experienced and dedicated. Anyone who has a problem with
             in place are not to be abused at any time. We are passionate in gaming and especially
           a bond we can create together. We are not a posse created purely for fun - we do not
            allow open joining therefore we invite and people request. We will become a top posse
             within RDO purely because we are experienced and dedicated. Anyone who has a problem with
      </span>
      
    </mat-card>
</div>